1. sorting data by one or more columns in ascending and descending manner
2. combining dataframes vertically and horizontally
3. Mergng them using keys,left,right

In [1]:
import numpy as np
import pandas as pd

In [5]:

df = pd.DataFrame(np.random.randint(2,8,(20,4)) , columns=list('ABCD'))

In [3]:
df

    A  B  C  D
0   6  6  4  3
1   6  7  3  4
2   7  7  2  4
3   7  6  4  4
4   3  4  4  3
5   5  7  5  3
6   3  6  3  7
7   6  7  3  4
8   4  4  4  3
9   7  3  5  2
10  6  5  4  2
11  6  2  2  7
12  5  2  3  5
13  4  6  6  4
14  2  5  5  4
15  6  7  7  4
16  3  2  2  5
17  6  3  7  5
18  5  2  6  4
19  3  5  4  4

Sorting

In [7]:
df.sort_values('A',inplace=True)

In [8]:
df

    A  B  C  D
15  2  4  2  4
14  2  3  4  3
7   2  2  5  4
0   3  4  2  5
13  3  7  6  6
12  3  7  3  7
18  3  4  7  2
8   3  7  4  5
9   3  3  6  7
3   3  4  7  5
2   3  7  6  3
11  4  7  6  5
6   4  5  2  3
4   5  5  4  4
1   5  6  2  7
17  5  6  5  6
10  6  7  7  4
5   7  4  4  4
16  7  3  4  3
19  7  7  2  2

In [11]:
#sorting by descending order
df.sort_values('A',inplace=True,ascending=False) 
df

    A  B  C  D
19  7  7  2  2
5   7  4  4  4
16  7  3  4  3
10  6  7  7  4
17  5  6  5  6
1   5  6  2  7
4   5  5  4  4
11  4  7  6  5
6   4  5  2  3
18  3  4  7  2
0   3  4  2  5
13  3  7  6  6
12  3  7  3  7
3   3  4  7  5
8   3  7  4  5
9   3  3  6  7
2   3  7  6  3
14  2  3  4  3
7   2  2  5  4
15  2  4  2  4

In [17]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],columns=['letter', 'number', 'animal'])
df1,df2

(  letter  number
 0      a       1
 1      b       2,
   letter  number animal
 0      c       3    cat
 1      d       4    dog)

In [18]:
pd.concat([df1,df2],axis=0)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combining by keys

In [19]:
df1=pd.DataFrame({"custid":[1,2,3,4,5],
                 "product":["Radio","Radio","Fridge","Fridge","Phone"]})
df2=pd.DataFrame({"custid":[3,4,5,6,7],
                 "state":["UP","UP","UP","MH","MH"]})

In [21]:
df1

   custid product
0       1   Radio
1       2   Radio
2       3  Fridge
3       4  Fridge
4       5   Phone

In [22]:
df2

   custid state
0       3    UP
1       4    UP
2       5    UP
3       6    MH
4       7    MH

In [24]:
pd.merge(df1,df2,on=['custid'],how='inner')

   custid product state
0       3  Fridge    UP
1       4  Fridge    UP
2       5   Phone    UP

In [25]:
pd.merge(df1,df2,on=['custid'],how='outer')

   custid product state
0       1   Radio   NaN
1       2   Radio   NaN
2       3  Fridge    UP
3       4  Fridge    UP
4       5   Phone    UP
5       6     NaN    MH
6       7     NaN    MH

In [26]:
pd.merge(df1,df2,on=['custid'],how='left')

   custid product state
0       1   Radio   NaN
1       2   Radio   NaN
2       3  Fridge    UP
3       4  Fridge    UP
4       5   Phone    UP

In [28]:
pd.merge(df1,df2,on=['custid'],how='right')

   custid product state
0       3  Fridge    UP
1       4  Fridge    UP
2       5   Phone    UP
3       6     NaN    MH
4       7     NaN    MH

In [30]:
##Important questions
# what happens in merging when ids are not unique

# how to merge when key is made of multiple columns

#how yo merge when the key has different names in the data sets which are being merged
 #(not by changing the name)